<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @booking.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @booking.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @booking.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @booking.address %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @booking.worker %>
</p>

<p>
  <strong>Timeslot:</strong>
  <%= @booking.timeslot %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
